<article class="product-item">
  <h2><%= product.name %></h2>
  <img src="<%= product.imageUrl %>" alt="<%= product.name %>" />
  <p><%= product.price %></p>
  <p><%= product.description %></p>
</article>
