<div class="card h-100 p-3">
  <h4 class="card-title text-center"><%= product.name %></h4>
  <img
    src="<%= product.imageUrl %>"
    class="card-img-top"
    alt="<%= product.name %>"
  />
  <div class="px-0 card-body">
    <b>$<%= product.price %></b>
    <p class="card-text"><%= product.description %></p>
    <a
      style="color: black"
      class="btn btn-warning"
      role="button"
      href="/products/<%= product.id %>"
      >View Details</a
    >
  </div>
</div>
