<article class="product-item">
  <h2><%= product.name %></h2>
  <img src="<%= product.imageUrl %>" alt="<%= product.name %>" />

  <a class="app__btn" href="/admin/products/<%=product.id%>">View & Edit</a>
  <form
    method="POST"
    action="/admin/delete/<%=product.id%>?_csrf=<%= locals.csrfToken %>"
  >
    <button class="app__btn">Delete</button>
  </form>
</article>
