<!DOCTYPE html>
<html lang="en">
  <%- include("../../shared/includes/head") %>
  <link rel="stylesheet" href="/styles/forms.css" />
  <body>
    <header><%- include("../../shared/includes/header") %></header>
    <main>
      <div class="col-lg-6 my-5 mx-auto">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <h1 class="text-center text-dark"><b>Register</b></h1>
            <% if(inputData.hasError) {%>
            <p class="app__error"><%= inputData.message %></p>
            <% } %>
            <form action="/signup" method="POST">
              <input
                type="hidden"
                name="_csrf"
                value="<%= locals.csrfToken %>"
              />
              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  type="email"
                  id="email"
                  name="email"
                  value="<%= inputData.email %>"
                  required
                />
                <label for="email">Email</label>
              </div>
              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  type="email"
                  id="confirm-email"
                  name="confirm-email"
                  value="<%= inputData.confirmEmail%>"
                  required
                />
                <label for="confirm-email">Confirm Email</label>
              </div>

              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  type="password"
                  id="password"
                  name="password"
                  required
                />
                <label for="password">Password</label>
              </div>

              <hr style="color: black; height: 4px" />

              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  type="text"
                  id="fullname"
                  name="fullname"
                  value="<%= inputData.fullName%>"
                  required
                />
                <label for="fullname">Full Name</label>
              </div>

              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  type="test"
                  id="street"
                  name="street"
                  value="<%= inputData.street%>"
                  required
                />
                <label for="street">Street</label>
              </div>

              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  type="text"
                  id="postalcode"
                  name="postalcode"
                  value="<%= inputData.postalCode%>"
                  required
                />
                <label for="postalcode">Postal Code</label>
              </div>

              <div class="form-outline mb-4">
                <input
                  class="form-control"
                  type="text"
                  id="city"
                  name="city"
                  value="<%= inputData.city%>"
                  required
                />
                <label for="city">City</label>
              </div>

              <button type="submit" class="btn btn-warning btn-block mb-4">
                Submit
              </button>

              <div class="text-center">
                <p>or register with:</p>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
